//------------------------------------//
//  $BUTTONS
//------------------------------------//
/* 
.btn,
input {
  display: inline-block;
  margin: 0;
  padding: 0.4em 1em;
  color: $primary;
  font-size: 1rem;
  line-height: 1.6em;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid $gray;
  border-radius: 0;
  background: transparent;
  cursor: pointer;

  &,
  &:hover,
  &:focus {
    text-decoration: none;
  }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.65;
  }
}
 */
/* .btn, input[type=submit]{
  border-radius: 10px;
    border: 4px solid black;
    box-sizing: content-box;
    z-index: 10000;
    color: #FFF;
    background-color: #DD0502;
    box-shadow: inset -4px -4px 4px 0px #4D030B;
    position: relative;
    display: inline-block;
    padding: 10px 12px;
    margin: 4px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    font-family: "Press Start 2P", cursive;
    font-size: 100%;
    line-height: 1.15;
    text-transform: none;
    overflow: visible;
}
.btn:hover, .btn:visited, input[type=submit]:hover{
  background-color: #D6A73B;
  box-shadow: inset -6px -6px 4px 0px #5C3508;
}
.btn:active, input[type=submit]:active{
    box-shadow: inset 4px 4px 4px 0px #5C3508;
} */
/* Base page styles */

/* Base Button Style */
.btn,
input[type="submit"] {
  display: inline-block;
  margin: 0;
  padding: 0.4em 1em;
  position: relative;
  line-height: 1.6em;
  background-color: #ffdd9f;
  border: 1px solid #f7d391;
  color: #000;
  text-align: center;
  transform-style: flat;
  transition: all 250ms ease-out;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
  border-color: #ecc272;
  &:before,
  &:after {
    content: "";
    position: absolute;
    z-index: -2;
    transition: all 250ms ease-out;
    bottom: 12px;
    width: 50%;
    height: 55%;
    max-width: 200px;
    max-height: 100px;
    box-shadow: 1px 8px 12px rgba(31, 31, 31, 0.6);
  }
  &:before {
    left: 10px;
  }
  &:after {
    right: 10px;
  }

  &:hover {
    &:before,
    &:after {
      box-shadow: 1px 8px 12px rgba(31, 31, 31, 0.8);
    }
    &:before {
      transform: skew(-8deg) rotate(-3deg);
      display: none;
    }
    &:after {
      transform: skew(8deg) rotate(3deg);
    }
  }
  &:hover {
    border-radius: 0 0 40% 0 / 0 0 30% 0;
  }
}
