.header-bg {
  background-image: url('../assets/images/wood-header.jpg');
  background-size: 33%;
}

.header-title {
  h1 {
    margin-top: 1.0rem;
    font-weight: bold;
    color: $white;

  }
}

.site-logo {
  padding: 0 6rem;
  text-align: center;

  img {
    height: auto;
    width: 150px;
  }
}

.user-info {
  height: 100%;
}

.user-image {
  img {
    width: 40px
  }
}

.user-name {
  h4 {
    margin-bottom: 0;
  }
}

.white {
  color: $white;
}

.bold {
  font-weight: bold;
}
