.header-bg {
  background-size: 33%;
  background-image: -webkit-linear-gradient(top,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) 20%,
    rgba(0,0,0,0) 80%,
    rgba(0,0,0,0.9) 100%
  ),
  url('../assets/images/wood-header.jpg');
background-image: -moz-linear-gradient(top,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) 20%,
    rgba(0,0,0,0) 80%,
    rgba(0,0,0,0.9) 100%
  ),
  url('../assets/images/wood-header.jpg');
}

.header-title {
  h1 {
    margin-top: 1.0rem;
  }
}

.site-logo {
  padding: 0 6rem;
  text-align: center;

  img {
    height: auto;
    width: 150px;
  }
}

.user-info {
  height: 100%;
}

.user-image {
  img {
    width: 40px
  }
}

.user-name {
  h4 {
    margin-bottom: 0;
  }
}

.white {
  color: $white;
}

.bold {
  font-weight: bold;
}
