.slideshows {
  background: $black;
  z-index: 0;
}

.logo {
  z-index: 10000;
  text-align: center;
}

.slideshows, .logo {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.slideshows > .slide {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-1 {
  background-image: url('../assets/images/dnd1.jpg');
}
.bg-2 {
  background-image: url('../assets/images/dnd2.jpg');
}
.bg-3 {
  background-image: url('../assets/images/dnd3.jpg');
}
