.manage-bg{
    background-image: url('../assets/images/managechar.jpg');
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .manage-menu{
    background-image: url('../assets/images/scroll.png');
    display: block;
    background-size: contain ;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    height: 400px;
    position: relative;
    text-align: center;
  }

  .manage-menu-content {
    position: absolute;
    top: 30%;
}