.practice-bg {
  background-color: #00FFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.container {
  background-color: #0FFFF0;
  position: relative;
}

.content {
  background-color: #FFFF00;
  width: 600px;
  text-align: center;
}

.full-height {
  height: 100%;
}
