.step-background{
	background-image: url('../assets/images/fire.gif');
	display: block;
	position: absolute;
	top: 90px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: -100;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  }

.message-scroll {
	background-image: url('../assets/images/message_scroll.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 600px;
	width: 600px;
	margin: 0 auto;
}
.message-scroll-content {
	height: 100%;
}

.message-submit {
	width: 100%;
	text-align: center;
}

.full-width {
	width: 100% !important;
}

.message {
	ul {
		overflow: scroll;
		max-height: 200px;

		select {
			display: inline-block;
			width: 49%;
		}

		li {
			h4 {
				display: inline-block;
				width: 50%;
			}

			input[type=checkbox] {
				display: inline-block;
				width: 25%;
				margin-left: 25%;
			}

			input[type=text] {
				border: 0;
				border-bottom: 1px solid $black;
				background: transparent;
				width: 40%;
				margin-left: 10%;
			}

			select {
				display: inline-block;
				width: 100%;
			}
		}
	}
}
// CAROUSEL 1
.item-1 {
	z-index: 2;
	opacity: 1;
	background-image: url('../assets/images/dragonborn.png');
}
.item-2 {
  background-image: url('../assets/images/dwarf.png');
}
.item-3 {
  background-image: url('../assets/images/elf.png');
}
.item-4 {
  background-image: url('../assets/images/gnome.png');
}
.item-5 {
  background-image: url('../assets/images/half-orc.png');
}
.item-6 {
  background-image: url('../assets/images/halfling.png');
}
.item-7 {
  background-image: url('../assets/images/human.png');
}
.item-8 {
  background-image: url('../assets/images/tiefling.png');
}
*:target~.item-1, *:target~.item-9, {
	opacity: 0;
}
#item-1:target~.item-1, #item-9:target~.item-9 {
  opacity: 1;
}
#item-2:target~.item-2,
#item-3:target~.item-3,
#item-4:target~.item-4,
#item-5:target~.item-5,
#item-6:target~.item-6,
#item-7:target~.item-7,
#item-8:target~.item-8,
#item-10:target~.item-10,
#item-11:target~.item-11,
#item-12:target~.item-12,
#item-13:target~.item-13,
#item-14:target~.item-14,
#item-15:target~.item-15,
#item-16:target~.item-16,
#item-17:target~.item-17,
#item-18:target~.item-18,
#item-19:target~.item-19,
#item-20:target~.item-20 {
	z-index: 3;
	opacity: 1;
}

// CAROUSEL 2
.item-9 {
	z-index: 2;
	opacity: 1;
	background-image: url('../assets/images/barbarian.png');
}
.item-10 {
  background-image: url('../assets/images/bard.png');
}
.item-11 {
  background-image: url('../assets/images/cleric.png');
}
.item-12 {
  background-image: url('../assets/images/druid.png');
}
.item-13 {
  background-image: url('../assets/images/fighter.png');
}
.item-14 {
  background-image: url('../assets/images/monk.png');
}
.item-15 {
  background-image: url('../assets/images/paladin.png');
}
.item-16 {
  background-image: url('../assets/images/ranger.png');
}
.item-17 {
  background-image: url('../assets/images/rogue.png');
}
.item-18 {
  background-image: url('../assets/images/sorcerer.png');
}
.item-19 {
  background-image: url('../assets/images/warlock.png');
}
.item-20 {
  background-image: url('../assets/images/wizard.png');
}
