.message-scroll {
	background-image: url('../assets/images/message_scroll.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 600px;
	width: 600px;
	margin: 0 auto;
}
.message-scroll-content {
	height: 100%;
}
// carousel things
.item-1 {
	z-index: 2;
	opacity: 1;
	background-image: url('../assets/images/dragonborn.png');
}
.item-2 {
  background-image: url('../assets/images/dwarf.png');
}
.item-3 {
  background-image: url('../assets/images/elf.png');
}
.item-4 {
  background-image: url('../assets/images/gnome.png');
}
.item-5 {
  background-image: url('../assets/images/half-orc.png');
}
.item-6 {
  background-image: url('../assets/images/halfling.png');
}
.item-7 {
  background-image: url('../assets/images/human.png');
}
.item-8 {
  background-image: url('../assets/images/tiefling.png');
}
*:target~.item-1 {
	opacity: 0;
}
#item-1:target~.item-1 {
  opacity: 1;
}
#item-2:target~.item-2,
#item-3:target~.item-3,
#item-4:target~.item-4,
#item-5:target~.item-5,
#item-6:target~.item-6,
#item-7:target~.item-7,
#item-8:target~.item-8 {
	z-index: 3;
	opacity: 1;
}
